/* ABOUT SECTION START */

@media(min-width: 40em) {

  .flyer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .twoColumns {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: auto;
  }

  .text {
    flex-basis: 50%;
    padding: 2rem 2rem;
  }
  
  .illustration {
    padding: 2rem 2rem;
    flex-basis: 100%;
    min-width: 20rem;
    max-width: 25rem;
  }

  Img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}
/* ABOUT SECTION END */
