/* ABOUT SECTION START */

@media(min-width: 600px) {
  
  .twoColumns {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: auto;
  }

  .text {
    flex: 1;
    padding: 2rem 2rem;
  }
  
  .illustration {
    padding: 2rem 2rem;
    flex: 2;
    min-width: 20rem;
    max-width: 25rem;
  }

  Img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}
/* ABOUT SECTION END */
