/* ABOUT SECTION START */

@media(min-width: 600px) {

  .flyer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .twoColumns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: auto;
  }

  .text {
    /* flex: 2 50%; */
    flex-grow: 2;
    flex-basis: 50%;
    padding: 2rem 2rem;
  }
  
  .illustration {
    /* flex: 1 */
    flex-grow: 1;
    padding: 2rem 2rem;
    max-width: 25rem;
  }
}

/* ABOUT SECTION END */
