/* ABOUT SECTION START */

@media(min-width: 40em) {

  .flyer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .twoColumns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: auto;
  }

  .text {
    /* flex: 2 40%; */
    flex-grow: 1;
    flex-basis: 40%;
    padding: 2rem 2rem;
  }
  
  .illustration {
    /* flex: 1 */
    flex-grow: 1;
    /* padding: 2rem 2rem; */
    min-width: 15rem;
  }

  Img {
    display: block;
    width: 100%;
    height: auto;
  }
}
/* ABOUT SECTION END */
