.box{
  padding: 1em 1em;
  color: var(--color-secondary);
  background: var(--color-auxiliary);
}

.box:first-child {
  background: var(--color-complementary);
}

.box img {
  max-width: 40px;
  margin: .2em;
}

table {
  text-align: left;
  width: 100%;
}

td {
  width: 30%;
  text-align: center;
}

.technologies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media(min-width: 600px) {
  #contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  
  .box {
    height: 13rem;
  }
}


@media(min-width:1200px) {
  #contact {
    max-width: 50%;
    margin: auto;
  }
}
