header {
  height: var(--vh);
  color: var(--color-secondary);

}

header .bg-image {
  position: absolute;
  /* background: var(--color-auxiliary) url('https://images.unsplash.com/photo-1489875347897-49f64b51c1f8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80'); */
  background: var(--color-auxiliary);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: var(--vh);
  z-index:-1;
  opacity: 0.7;
}

.btn {
  display: inline-block;
  background: var(--color-complementary);
  color: var(--color-secondary);
  text-decoration: none;
  font-weight: 600;
  padding: 1em 2em;
  margin: .5em 0;
  transition: .5s;
}

.btn:hover {
  background: var(--color-secondary);
  color: var(--color-auxiliary);
}
