nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: .45em 0; 
}

#logo {
  text-transform: uppercase;
  letter-spacing: 0.4rem;  
  font-weight: bold;
}

nav ul {
  list-style: none;
}

nav a {
  color: var(--color-secondary);
  text-decoration: none;
  font-weight: 600;
  padding: .5rem 1rem;
  transition: ease .5s;
}

nav a:hover {
  background: var(--color-complementary);
}

@media(min-width: 600px) {

  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  nav ul {
    display: flex;
  }
}
