nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: .45em 0;
}

#logo {
  text-transform: uppercase;
  letter-spacing: 0.4rem;  
  font-weight: bold;
}

nav ul {
  list-style: none;
}

nav a {
  color: var(--color-secondary);
  text-decoration: none;
  font-weight: 600;
  padding: .5rem .5rem;
  transition: .5s;
}

nav a:hover {
  background: var(--color-complementary);
}

@media(min-width: 600px) {

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  nav ul {
    display: flex;
    justify-content: flex-end;
    flex-basis: 50%;
  }
}
