nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  padding: .45em 0;
}

#logo {
  text-transform: uppercase;
  letter-spacing: 0.4rem;  
  font-weight: bold;
}

nav ul {
  display: flex;
  justify-content: center;
  width: 50%;
  list-style: none;
  flex-wrap: wrap;
}

nav li {
  padding: 0.4rem 0;
}

nav a {
  color: var(--color-secondary);
  text-decoration: none;
  font-weight: 600;
  padding: .5rem .5rem;
  transition: .5s;
}

nav a:hover {
  background: var(--color-complementary);
}

@media(min-width: 600px) {

  nav ul {
    justify-content: flex-end; 
  }

  nav li {
    padding:0 0;
  }
}
