nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: auto;
  /* min-height: 5rem; */
  width: 100%;
  flex-wrap: wrap;
  padding-top: .4em;
}

#logo {
  text-transform: uppercase;
  letter-spacing: 0.4rem;  
  font-weight: bold;
}

nav ul {
  /* width: 50%;
  list-style: none; */
  display: flex;
  justify-content: space-around;
  width: 40%;
  list-style: none;
  flex-wrap: wrap;
}

nav li {
  padding-bottom: 0.5rem;
}

nav a {
  color: var(--color-secondary);
  text-decoration: none;
  font-weight: 600;
  padding: .5rem .5rem;
  transition: .5s;
}

nav a:hover {
  background: var(--color-complementary);
}

@media(min-width: 600px) {
  nav {
    padding-bottom: .45em;
  }

  nav>ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  nav li {
    padding-bottom: 0;
  }
}