nav {
  position: fixed;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: .45em 0;
}

#logo {
  text-transform: uppercase;
  letter-spacing: 0.4rem;  
  font-weight: bold;
  flex: 1 1 100%;
}

nav ul {
  display: flex;
  flex: 1 1 100%;
  flex-wrap: wrap;
  list-style: none;
}

nav li {
  padding: 0.4rem 0;
  flex: 1 1 100%;
}

nav a {
  color: var(--color-secondary);
  text-decoration: none;
  font-weight: 600;
  padding: .5rem .5rem;
  transition: .5s;
}

nav a:hover {
  background: var(--color-complementary);
}

@media(min-width: 600px) {

  nav {
    justify-content: center;
  }
  #logo {
    flex: initial; 
  }

  nav ul {
    flex: initial; 
    justify-content: flex-end;
    width: 50%;
  }

  nav li {
    padding:0 0;
    flex: initial; 
  }
}
