/* SERVICES SECTION START */

.card {
  margin: 1em 0;
  box-shadow: 0 4px 8px 0 var(--color-shadow);
  transition: 0.3s;
  width: 100%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 var(--color-shadow);
}

.card-content {
  padding: 2px 16px;
}

/* SERVICES SECTION END */

@media(min-width: 600px) {
  #services {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1em;
  }
}

@media(min-width: 1200px) {
  #services {
    width: 70%;
    margin: auto;
  }
}
