*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #000;
  --color-secondary: rgb(255, 255, 255);
  --color-complementary: rgb(47, 153, 223);
  --color-auxiliary: #333;
  --color-odd:  #eee;
  --color-shadow: rgba(0,0,0,0.2);
  --vh: 70vh;
}

html {
  scroll-behavior: smooth;
  /* font-size: 62.5%;
  font-family: "DosisBold", "Courier New", Courier, monospace;  */
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: var(--color-auxiliary);
  color: var(--color-secondary);
  font-size: 1.1em;
  line-height: 1.5;
  text-align: center;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr); 
}

.wrapper > section {
  padding: 1em;
}


/* .anchor { 
  padding-top: 4.9rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.anchor h1 {
  padding: 10rem 5rem;
  font-size: 4rem;
  text-align: center;
}

.anchor h3 {
  font-size: 2.5rem;
  text-align: center;
  font-weight: normal;
  padding-bottom: 2rem;
} */

main {
  background: var(--color-secondary);
}

section {
  background: var(--color-secondary);
  color: var(--color-primary);
  padding: 5rem 2em 5rem 2rem;
}

section:nth-of-type(odd) {
  background: var(--color-odd);
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1, h2, h3 {
  margin: 0;
  padding: 1em 0;
}

p {
  margin: 0;
  padding: 1em 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.content-wrap {
  margin: 10rem 2rem;
}

/****** FOOTER START ******/
#mainFooter {
  padding: 2em;
  background: var(--color-primary);
  color: var(--color-secondary);
  text-align: center;
}

#mainFooter a {
  color: var(--color-complementary);
  text-decoration: none;
}
/****** FOOTER END ******/
